/* Color Palette
Background: #084857
Text: #111
Light Relative: 
Base Color: 
Dark Relative: 
*/

/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #084857;
    font-family: 'Roboto', sans-serif;

    /* GRADIENT BACKGROUND  http://colorzilla.com/gradient-editor/#213e44+1,091114+100 */
    background: #213e44; /* Old browsers */
    background: -moz-linear-gradient(top, #213D44 1%, #091114 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #213e44 1%,#091114 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #213e44 1%,#091114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213e44', endColorstr='#091114',GradientType=0 ); /* IE6-9 */
}

body {  
    margin: 0 0 100px;
    /* bottom = footer height */

}

p {
    font-size: 18px;
    color: white;
}

header {
    padding-top: 50px;
}

header h1 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 40px;
    color: #E3E3E3;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: rgba(0, 80, 89, 0.20);
}

footer p {
    margin-top: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 1px #626262; 
}

footer p a {
    text-align: center;
    color: rgba(0, 231, 255, 0.63);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p a:hover {
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

a:-webkit-any-link {
    text-decoration: none;
}

.main-nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 119, 131, 0.2);
    border-bottom: 1px solid rgba(0,0,0,.15);
    height: 50px;
    margin-bottom: 50px;
}

.main-nav a {
    opacity: 0;
    display: none;
    font-weight: bold;  
    color: rgb(255, 255, 255);
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: rgb(0, 231, 255);
    transition: color 0.3s ease;
}

.inline-nav-container {
    padding-top: 50px;
}

.toggle-container {
    float: right;
    width: 60px;
    height: 45px;
    cursor: pointer;
}

.toggle-container span {
    display: block;
    height: 5px;
    width: 50%;
    margin-left: 15px;
    margin-top: 5px;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    box-shadow: 1px 1px 2px 2px #717171; 
}

.hamburger {
    padding-top: 5px;
}

.icon-group {
    text-align: center;
    padding-top: 20px;
}

.icon {
    padding: 5px;
}

.icon i {
    text-shadow: 1px 1px 1px #000000; 
    color: rgba(0, 231, 255, 0.63);
    font-size: 30px;
    transition: color 0.5s ease;
}

.icon i:hover {
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

.center-nav {
    display: none;
}

/* ------------------------------------- */
/* LANDING PAGE */
/* ------------------------------------- */

.landing-page {
    height: 100%;
}

.landing-page:after {
    content: "";
    display: block;
}

.landing-page p {
    padding: 30px;
    font-size: 14px;
}

.landing-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.landing-page hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

/* ------------------------------------- */
/* LOGIN PAGE */
/* ------------------------------------- */

.login-page {
    height: 100%;
    display: none;
    opacity: 0;
}

.login-page:after {
    content: "";
    display: block;
}

.login-page p {
    padding: 30px;
    font-size: 14px;
}

.login-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.login-page hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.login-page form {
    margin: 0 auto;
    width: 300px;
    height: 350px;
    border: 1px solid white;
    margin-bottom: 50px;
    text-align: center;
}

.login-page label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.login-page input {
    width: 80%;
    height: 10%;
    padding-left: 10px;
    color: black;
    font-size: 14px;
}

.login-page button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 10%;
    border: 2px solid white;
    margin-top: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(48, 209, 255, 0.00);
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.login-page button:hover {
    cursor: pointer;
    border: 2px solid #00FFF2;
    text-shadow: 1px 1px 5px rgb(48, 48, 48);
    background-color: rgb(0, 194, 255);
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

/* ------------------------------------- */
/* REGISTRATION PAGE */
/* ------------------------------------- */

.register-page {
    display: none;
    opacity: 0;
}

.register-page form {
    margin: 0 auto;
    width: 300px;
    height: 350px;
    border: 1px solid white;
    margin-bottom: 50px;
    text-align: center;
}

.register-page label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.register-page input {
    width: 80%;
    height: 8%;
    padding-left: 10px;
    color: black;
    font-size: 14px;
}

.register-page button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 10%;
    border: 2px solid white;
    margin-top: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(48, 209, 255, 0.00);
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.register-page button:hover {
    cursor: pointer;
    border: 2px solid #00FFF2;
    text-shadow: 1px 1px 5px rgb(48, 48, 48);
    background-color: rgb(0, 194, 255);
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

/* ------------------------------------- */
/* Generation Page */
/* ------------------------------------- */

.generation-page {
    display: none;
    opacity: 0;
}

.generation-page form {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    text-align: center;
}

.generation-page .input-container legend {
    margin-top: 20px;
    color: white;
    font-size: 22px;
}

.generation-page label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}

.generation-page input {
    width: 80%;
    height: 8%;
    padding-left: 10px;
    color: black;
    font-size: 14px;
}

.generation-page button {
    margin: 0 auto;
    width: 40%;
    height: 10%;
    border: 1px solid white;
    margin-top: 15px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgba(48, 209, 255, 0.00);
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.generation-page button:hover {    
    cursor: pointer;
    border: 2px solid #00FFF2;
    text-shadow: 1px 1px 5px rgb(48, 48, 48);
    background-color: rgb(0, 194, 255);
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.generation-page .input-container {
    margin: 0 auto;
    border: 1px solid white;
    width: 80%;
    height: 400px;
}

.generation-page .output-container {
    margin: 0 auto;
    border: 1px solid white;
    width: 80%;
    height: 400px;
    overflow: hidden;
}

.generation-page .output-container p {
    padding: 20px;
    padding-bottom: 5px;
    font-size: 12px;
}

.generation-page .bottom-button-container {
    margin: 0 auto;
    border: 1px solid white;
    border-top: 1px solid rgba(0,0,0,0);
    width: 80%;
    height: 70px;
    margin-bottom: 40px;
}

.generation-page .bottom-button-container button { 
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 55%;
    border: 1px solid white;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(48, 209, 255, 0.00);
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.generation-page .bottom-button-container button:hover {    
    cursor: pointer;
    border: 2px solid #00FFF2;
    text-shadow: 1px 1px 5px rgb(48, 48, 48);
    background-color: rgb(0, 194, 255);
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.feedback-container {
    text-align: center;
}

.feedback-container p {
    font-size: 16px;
}

.feedback-1 {
    opacity: 0;  
}

.feedback-1 p {
    padding-top: 20px; 
}

.feedback-2 {
    opacity: 0;
}

.feedback-2 p {
    padding-top: 20px;
}


/* ------------------------------------- */
/* CATEGORY PAGE */
/* ------------------------------------- */

.category-page {
    margin-bottom: 60px;
    padding-bottom: 40px;
    opacity: 0;
    display: none;    
}

.category-page p {
    padding: 30px;
    font-size: 14px;
}

.category-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.category-page hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.category-page img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border: 1px solid rgba(18, 255, 248, 0.4);
    border-radius: 5px;
    margin-top: 20px;
}

/* ------------------------------------- */
/* CATEGORY SUB-PAGE */
/* ------------------------------------- */

.category-sub-page {
    margin-bottom: 60px;
    opacity: 0;
    display: none; 
}

.category-sub-page p {
    padding: 30px;
    font-size: 14px;
}

.category-sub-page h2 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
}

.category-sub-page hr {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.category-sub-page .container {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    margin-bottom: 40px;
    text-align: center;
}

.arrow-container {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
}

.arrow-container i {
    font-size: 30px;
    text-shadow: 1px 1px 1px #000000; 
    color: rgba(0, 231, 255, 0.63);
    transition: color 0.5s ease;
}

.arrow-container i:hover {
    cursor: pointer;
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

.category-sub-page a {
    padding-top: 25px;
    text-align: center;
    color: rgba(0, 231, 255, 0.63);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.category-sub-page a:hover {
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

/* ------------------------------------- */
/* FONT PAGE */
/* ------------------------------------- */

.font-page {
    padding-bottom: 40px;
    opacity: 0;
    display: none;    
}

.font-card {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    border: 1px solid rgba(18, 255, 248, 0.4);
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}

.font-card a {
    text-decoration: none;
}

.font-card h2 {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 10px;
}

.font-card hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.font-card p {
    padding: 30px;
    font-size: 14px;
}

.font-page .sort-container {
    text-align: center;
}

.font-page .sort-container button {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(48, 209, 255, 0.00);
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.font-page .sort-container button:hover {    
    cursor: pointer;
    border: 2px solid #00FFF2;
    text-shadow: 1px 1px 5px rgb(48, 48, 48);
    background-color: rgb(0, 194, 255);
    transition: background-color 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

/* ------------------------------------- */
/* DASHBOARD PAGE */
/* ------------------------------------- */

.dashboard-page {
    padding-bottom: 40px;
    opacity: 0;
    display: none;    
}

.statistics-container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 1px solid white;
}

.statistics-container h2 {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.statistics-container p {
    padding: 20px;
    font-size: 14px;
}

.statistics-container h4 {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 20px;
}

.center {
    text-align: center;
}

.sub-statistics-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sub-statistics-container:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(48, 148, 159);
}

.sub-statistics-container h3 {
    font-size: 60px;
    text-align: center;
    color: white;
}


/* ------------------------------------- */
/* Media Queries */
/* ------------------------------------- */

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
}


/*iPhone landscape*/
@media only screen and (min-width: 480px) {

}


/*ipad potrait*/
@media only screen and (min-width: 768px) {

}

/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    .main-nav {
        border-bottom: 1px solid rgba(0,0,0,.15);
        height: 50px;
        overflow: hidden;
    }

    .main-nav a {
        display: block;
        padding: 15px 5px;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        border-bottom: 3px solid transparent;
        -webkit-transition: color 0.3s, border 0.2s;
        transition: color 0.3s ease, border 0.2s;
    }

    .main-nav a:hover {
        border-bottom: 3px solid rgb(0, 231, 255);
        -webkit-transition: color 0.3s, border 0.2s;
        transition: color 0.3s ease, border 0.2s;
    }

    .inline-nav-container {
        padding-top: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .inline-nav-container ul {
        list-style: none;
    }

    .inline-nav-container ul li {
        display: inline-block;
    }

    .inline-nav-container ul li a {
        display: inline-block;
    }

    .left-nav {
        display: inline-block;
        width: 32%;
        text-align: left;
    }

    .right-nav {
        display: inline-block;
        width: 32%;
        text-align: right;
    }

    .center-nav {
        display: inline-block;
        width: 32%;
        text-align: center;
    }

    .center-nav a {
        font-size: 15px;
    }

    .toggle-container {
        display: none;
    }

    .inline-nav-container a {
        opacity: 1;
    }

    /* ------------------------------------- */
    /* LANDING PAGE */
    /* ------------------------------------- */

    .landing-page p {
        line-height: 1.4;
    }

    /* ------------------------------------- */
    /* LOGIN PAGE */
    /* ------------------------------------- */

    .login-page form {
        margin: 0 auto;
        width: 400px;
        height: 400px;
        border: 1px solid white;
        margin-bottom: 50px;
    }
    
    /* ------------------------------------- */
    /* GENERATION PAGE */
    /* ------------------------------------- */

    .generation-page .input-container {
        width: 100%;
        height: 500px;
    }
    
    .generation-page .output-container {
        width: 100%;
        height: 500px;
    }
    
    .generation-page .bottom-button-container {
        width: 100%;
    }

    /* ------------------------------------- */
    /* CATEGORY PAGE */
    /* ------------------------------------- */

    .category-page img {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(18, 255, 248, 0.4);
        border-radius: 5px;
        margin-top: 20px;
        filter: brightness(0.8) grayscale(50%);
        -webkit-filter: brightness(0.8) grayscale(50%);
        transition: filter 0.4s ease, border 0.5s ease;
    }
    
    .category-page img:hover {
        border: 1px solid rgba(18, 255, 248, 0.8);
        filter: brightness(1) grayscale(0%);
        -webkit-filter: brightness(1) grayscale(0%);
        transition: filter 0.4s ease, border 0.5s ease;
    }

    /* ------------------------------------- */
    /* FONT PAGE */
    /* ------------------------------------- */

    .font-page .font-card {
        width: 100%;
        filter: brightness(0.8) grayscale(50%);
        -webkit-filter: brightness(0.8) grayscale(50%);
        transition: filter 0.4s ease, border 0.5s ease;
    }

    .font-page .font-card:hover {
        border: 1px solid rgba(18, 255, 248, 0.8);
        filter: brightness(1) grayscale(0%);
        -webkit-filter: brightness(1) grayscale(0%);
        transition: filter 0.4s ease, border 0.5s ease;
        cursor: pointer;
    }

}

